<nav class="navbar navbar-expand-lg navbar-brand navbar-absolute fixed-top" id="nav1">
    <div class="container-fluid">
        <div class="logo col-10">
            <!-- <img class="img-fluid offset-1" src="/assets/img/HELPDESK.png" width="220px" height="150px"/> -->
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
            </ul>
        </div>
    </div>
</nav>